#span1 {
    background-color: rgb(201, 200, 200);
   
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#img1 {
    width: 25px;
}

#ul1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#he1 {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 2px;
}

#li1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 12px;
}

#img2 {
    width: 45px;
    background-color: rgb(113, 163, 113);
    border: none;


}

#section1 {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 22px;
    width: 100%;
    
}

#second-u1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#section-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#section-li1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#input1 {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    padding-left: 100px;
    

}

#text1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 250px;
   
}

#text1 input {
    position: relative;
    
}

#text1 img {
    position: absolute;
    top: 0p;
    right: 52%;
}
input{
    
    border-radius: 50% solid rgb(193, 60, 60);
}
#w12{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   cursor: pointer;
   position: relative;
   right: 190px;
}
#section3{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    
}
